.setting-view--backup-container {
  width: 100%;

  & .backup-row {
    display: flex;
    gap: 12px;
  }

  & .webdav-backup-container {
    display: grid;
    grid-template-columns: minmax(0, 560px);
    gap: 10px;
    padding: 10px 0;
  }
}
